{% extends 'base_home.html' %}
{% load crispy_forms_tags %}
{% block title %}Adione uma tarefa{% endblock %}

{% block content %}
<div class="offset-1 col-10 list-div">
    <h1>Adione a sua nova terefa</h1>
    <form method="POST">
        <!-- necessario em qualquer formulario feito no django, questao de seguranca -->
        {% csrf_token %}
        <!-- {{form.as_p}} -->
        {{ form|crispy }}
        <input type="submit" class="btn btn-sucess" value="Criar Tarefa"/>
    </form>
</div>
{% endblock %}